.DS_Store
Thumbs.db

build/
app/build/
.gradle/
.cxx/

local.properties

.idea/
*.iml
*.ipr
*.iws

*.hprof

*.jsbundle

app/*.apk
app/*.aab
app/build/outputs/

*.keystore
*.jks
keystore.properties

signing-report.txt
